<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= user.name %>'s Ledger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="css/nav_style.css" rel="stylesheet" type="text/css">
<link href="css/book_style.css" rel="stylesheet" type="text/css">
<link href="css/table_style.css" rel="stylesheet" type="text/css">
<link href="css/popup_style.css" rel="stylesheet" type="text/css">


</head>
<body> 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="openbtn" onclick="openNav()">☰</button>
            <a class="navbar-brand" href="#"><h3><%= user.name %></h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Actions</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/registercust">New Customer</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/logout?_method=DELETE" method="POST">
                        <input type="hidden" id="custId" class="form-control mr-sm-2" name="custId"  data-userid= "<%=user._id%>" value="<%=user._id%>">
                        <button type="submit" class="btn btn-secondary my-2 my-sm-0">Log Out</button>
                      </form>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" style="width:15vw;" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
  <br>
  <br>
        <div id="mySidepanel" class="sidepanel" style="float: left;">
          </div>        


<div id="pop_up_edit">
<div id="pop_content">
<span id="close_edit">Close</span>
<form id="edit_del_customer" action="" method=""></form>
<div>
  <span id="edit_del_error"></span>
  <input type="hidden" id="edit_customer" name="customer">
  <label for="name">Name</label>
  <input type="text" id="edit_name" name="name" required>
</div>
<div>
  <label for="firmname">Firm Name</label>
  <input type="text" id="edit_firmname" name="firmname" required>
</div>  
<div>
  <label for="pagenumber">Page number</label>
  <input type="number" id="edit_pagenumber" name="pagenumber" required>
</div> 
<button type="submit" id="edit_cust">Save</button>
<button type="submit" id="delete_cust">DELETE</button>
</form>
</div>
</div>


 <div class="mt-5" id="bookworm">
  <div class="book">
    <div class="coverbottom" id="coverbottom"></div>

    <div id="content_pages">
    <div class="page leftpage" id="page1">1</div>
    <div class="page leftpage" id="page3">3</div>
    <div class="page leftpage" id="page4">4</div>
    <div class="page leftpage" id="page5">5</div>
    <div class="page leftpage" id="page6">6</div>
    <div class="page leftpage" id="page7">7</div>
    <div class="page leftpage" id="page8">8</div>
    <div class="page leftpage" id="page2">
    Dear Diary, Today is going to be different. Today, I'm gonna smile and I'm gonna mean it..
    <div id="btn1">Click me</div>
    </div>
    <div class="page rightpage" id="page9">9</div>
    <div class="page rightpage" id="page11">11</div>
    <div class="page rightpage" id="page12">12</div>
    <div class="page rightpage" id="page13">13</div>
    <div class="page rightpage" id="page14">14</div>
    <div class="page rightpage" id="page15">15</div>
    <div class="page rightpage" id="page16">16</div> 
    <div class="page rightpage" id="page10">

      <div id="customer_page" style="width:100%">
          <div id="cust_name">Temp Name</div>
       <div id="cust_pagenum"> 100 </div>
       <table id="customer_table" class="table-sm table-hover table-responsive-lg">
         <thead>
          <tr>
            <th rowspan="2" style="width:15%">Date</th>
            <th rowspan="2" style="width:20%">Parti.</th>
            <th colspan="2" style="width:12%">Debit</th>
            <th colspan="2" style="width:12%">Credit</th>
            <th rowspan="2" style="width:10%">Dr/Cr</th>
            <th colspan="2" style="width:13%">Balance</th>
            <th rowspan="2" style="width:2%">=</th>
          </tr>
          <tr>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
          </tr>
         </thead>
         <tbody>
  
           <form id="registertrans" action="" method="POST">
            <input type="hidden" id="add_trans" name="add_trans">
            <tr>
              <td><input type="text" style="font-size: 1vw" id="transdate" name="transdate"></td>
              <td>
                <label>
                <input type="radio" style="font-size: 1vw" id="transdate" name="transdate"/>Credit /
                </label>
                <label>
                <input type="radio" style="font-size: 1vw" id="transdate" name="transdate"/>Debit
                </label>
              </td>
              <td colspan="4"><input type="number" id="transamount" name="transamount"> </td>
              <td>00</td>
              <td>Cr</td>
              <td><button type="submit" id="addtrans" >+</button></td>
              <td></td>
            </tr> 
            </form>                        
         </tbody>
       </table>
      </div>
      <div id="btn2" style="position: fixed; top: 95%; left: 85%;">Click me</div>
    </div>
    </div>
    <div class="covertop" id="covertop"></div> 
    </div> 



</html>