<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= user.name %>'s Ledger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/nav_style.css" rel="stylesheet" type="text/css">
<link href="css/book_style.css" rel="stylesheet" type="text/css">
<link href="css/table_style.css" rel="stylesheet" type="text/css">
<link href="css/popup_style.css" rel="stylesheet" type="text/css">


</head>
<body style="background-color: rgb(255, 255, 255);"> 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: brown;">
          <button class="openbtn" onclick="openNav()">☰</button>
            <a class="navbar-brand" href="#"><h3><%= user.name %></h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Actions</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/registercust">New Customer</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/logout?_method=DELETE" method="POST">
                        <input type="hidden" id="custId" class="form-control mr-sm-2" name="custId"  data-userid= "<%=user._id%>" value="<%=user._id%>">
                        <button type="submit" class="btn btn-secondary my-2 my-sm-0">Log Out</button>
                      </form>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" style="width:15vw;" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
  <br>
  <br>
        <div id="mySidepanel" class="sidepanel" style="float: left;">
          </div>        


<div id="pop_up_edit">
<div id="pop_content">
<span id="close_edit">Close</span>
<form id="edit_del_customer" action="" method=""></form>
<div>
  <span id="edit_del_error"></span>
  <input type="hidden" id="edit_customer" name="customer">
  <label for="name">Name</label>
  <input type="text" id="edit_name" name="name" required>
</div>
<div>
  <label for="firmname">Firm Name</label>
  <input type="text" id="edit_firmname" name="firmname" required>
</div>  
<div>
  <label for="pagenumber">Page number</label>
  <input type="number" id="edit_pagenumber" name="pagenumber" required>
</div> 
<button type="submit" id="edit_cust">Save</button>
<button type="submit" id="delete_cust">DELETE</button>
</form>
</div>
</div>


<div id="pop_up_edit2">
  <div id="pop_content2">
  <span id="close_edit2">Close</span>
  <form id="edit_del_trans" action="" method=""></form>
  <div>
    <span id="edit_trans_error"></span>
    <input type="hidden" id="edit_trans" name="trans">
    <label for="name">Date</label>
    <input type="text" style="font-size: 1vw" id="edit_transdate" name="transdate">
  </div>
  <div>
    <label for="amount">Amount</label>
    <input type="number" id="edit_transamount" name="transamount">
  </div>  
  <div>
    <label>
      <input type="radio" style="font-size: 1vw" id="edit_transtype1" name="edit_transtype" value="1"/>Credit /
      </label>
      <label>
      <input type="radio" style="font-size: 1vw" id="edit_transtype0" name="edit_transtype" value="0"/>Debit
    </label>
  </div> 
  <button type="submit" id="edit_transaction" >Save</button>
  </form>
  </div>
  </div>


 <div class="mt-5" id="bookworm">
  <div class="book">

      <div id="customer_page" style="width:100%">
          <div id="cust_name">Temp Name</div>
       <div id="cust_pagenum"> 100 </div>
       <table id="customer_table" class="table-sm table-hover table-responsive-lg">
         <thead>
          <tr>
            <th rowspan="2" style="width:15%">Date</th>
            <th rowspan="2" style="width:10%">Parti.</th>
            <th colspan="2" style="width:13%">Debit</th>
            <th colspan="2" style="width:13%">Credit</th>
            <th rowspan="2" style="width:10%">Dr/Cr</th>
            <th colspan="2" style="width:13%">Balance</th>
            <th rowspan="2" style="width:5%">=</th>
          </tr>
          <tr>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
          </tr>
         </thead>
         <tbody>
  
           <form id="registertrans" action="" method="POST">
            <input type="hidden" id="add_trans" name="add_trans">
            <tr>
              <td><input type="text" style="font-size: 1vw" id="transdate" name="transdate"></td>
              <td>00</td> 
              <td colspan="4"><input type="number" id="transamount" name="transamount"> </td>             
              <td>
                <label>
                <input type="radio" style="font-size: 1vw" id="transtype" name="transtype" value="1"/>Credit /
                </label>
                <label>
                <input type="radio" style="font-size: 1vw" id="transtype" name="transtype" value="0"/>Debit
                </label>
              </td>
              <td>Cr</td>
              <td><button type="submit" id="addtrans" >+</button></td>
              <td></td>
            </tr> 
            </form>                        
         </tbody>
       </table>
      </div>
    </div>
    </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
function openNav() {
    console.log("in func");
    if(document.getElementById("mySidepanel").style.width != "0px"){
  document.getElementById("mySidepanel").style.width = "0px"; 
}
  else{
    if(window.innerWidth <= 1050)
    document.getElementById("mySidepanel").style.width = "100%";  
    else
    document.getElementById("mySidepanel").style.width = "20%";      
}
}
</script>

<script>
  customers = []
  $(document).ready(function lister() {
      $.ajax({
          type:'POST',
          url: '/get_customer_list/' + $("#custId").data("userid"),
      }).done(function(result){
        customers = result;
         printcustomers(result);
      }).fail(function(err){
          console.log(err);
      })

        $( function() {
        $( "#transdate" ).datepicker();
        });
    })

    $('#addtrans').click(function (e) {
      e.preventDefault();
      var date = $('#transdate').val();
      var amount = $('#transamount').val();
      var type = $("input[name=transtype]:checked").val()
    if($("#add_trans").val() != "")
      {
      var custid = $("#add_trans").val();
      console.log("Adding Transaction to Customer :"+ custid);
     $.ajax
        ({
          type: "POST",
          url: '/addtransaction/' + custid,
          data: { "date": date, "amount": amount, "type":type},
          success: function (data) {
            // $('.result').html(data);
             $('#registertrans')[0].reset();
            console.log(data);

          var transtable = document.getElementById("customer_table");
          var tr = document.createElement('tr');
          tr.setAttribute("id","trans_row");
          if (type == 0){
            var content = [(date).substr(5,5) , "item", amount, "00", "", "", "Cr", "", "00"]
          }
          else{
            var content = [(date).substr(5,5) , "item", "", "", amount, "00", "Cr", "", "00"]            
          }
          printrow(tr , content);
          transtable.appendChild(tr);
          }
        });
      }
    });


    function printcustomers(customers){
       console.log(customers)

       var customer_list = document.getElementById("mySidepanel");
       var x=0;
       for (i = 0; i <(customers.length/3)+1 ; i++) {
        var tr = document.createElement('ul');
         for(j=0; j<3 && x<customers.length;j++){
          var td = document.createElement('li');
          td.setAttribute("id", customers[x]._id);
          td.innerHTML = customers[x].name;
          td.setAttribute("onClick", 'displaytrans("'+ x +'")');
          x++;
          tr.appendChild(td);
         }
         customer_list.appendChild(tr);            
    }
  }


function displaytrans(x){
  var custid = customers[x]._id;
  console.log(custid);
  $.ajax({
          type:'POST',
          url: '/get_customer_transactions/' + custid,
      }).done(function(result){
         printtransactions(result,x);
      }).fail(function(err){
          console.log(err);
      })       
}  

function printtransactions(transactions,x){
       console.log(transactions)
       var transtable = document.getElementById("customer_table");
       document.getElementById("cust_name").innerHTML=customers[x].name;
       document.getElementById("cust_pagenum").innerHTML = customers[x].pagenumber;
       $("#customer_table > tr").remove();
       $("#transrow").remove();
       $("#add_trans").val(customers[x]._id);
       $("#edit_delete_cust").remove();
       $("#cust_name").before("<button id='edit_delete_cust'>☰</button>")
       $("#edit_delete_cust").click(()=>{
         edit_del_cust(x);
       })
       var balance = 0;
       for (i = 0; i <transactions.length ; i++) {
        
        var tr = document.createElement('tr');
        tr.setAttribute("id","trans_row");
          if (transactions[i].type == 0)
          {
            balance = balance + transactions[i].amount;
            var content = [(transactions[i].date).substr(5,5) , "item", transactions[i].amount, "00", "", "", "Cr", balance, "00"]
          }
          else
          {
            balance = balance - transactions[i].amount;
            var content = [(transactions[i].date).substr(5,5) , "item", "", "", transactions[i].amount, "00", "Cr", balance, "00"]            
          }
          printrow(tr , content);
          if(balance<0)
          {
            tr.style.backgroundColor = "#FF4500";
            tr.style.color="white";
          }
          var edit_trans = document.createElement('span');
          edit_trans.innerHTML= "☰";
          edit_trans.setAttribute("onClick", 'edittrans("'+ [transactions[i]._id,transactions[i].customerid] +'")');
          var delete_trans = document.createElement('i');
          delete_trans.setAttribute('class', "fa fa-trash");
          delete_trans.setAttribute('aria-hidden', "true");
          delete_trans.setAttribute("onClick", 'deletetrans("'+ [transactions[i]._id,transactions[i].customerid] +'")');
          tr.appendChild(edit_trans);
          tr.appendChild(delete_trans);
          customer_table.appendChild(tr);
    }
  }

function printrow(tr, content){
  for (var i=0; i<content.length; i++)
  {
  var td = document.createElement('td');
          td.innerHTML = content[i];
          tr.appendChild(td); 
  }
}  

function edit_del_cust(x){
  $("#pop_up_edit").show();
  $("#close_edit").click(()=>{$("#pop_up_edit").hide();})
  $("#edit_name").val(customers[x].name)
  $("#edit_firmname").val(customers[x].firmname)
  $("#edit_pagenumber").val(customers[x].pagenumber)
  $("#edit_customer").val(customers[x]._id)
  $("#delete_cust").click(function(e){
    e.preventDefault();
      var custid = $('#edit_customer').val();
      console.log("Deleting User with Id: " + custid);
      $.ajax
        ({
          type: "DELETE",
          url: "/registercust/"+custid,
          success: function (data) {
            console.log(data);
          }
        });      
  })
  $("#edit_cust").click(function(e){
    e.preventDefault();
    $("#pop_up_edit").hide();    
      var custid = $('#edit_customer').val();
      var new_name = $("#edit_name").val();
      var new_firmname = $("#edit_firmname").val();
      var new_pagenumber = $("#edit_pagenumber").val();
      var chgcode = 0;
      if(new_name != customers[x].name)
      {
        chgcode = 1;
        if(new_pagenumber != customers[x].pagenumber)
        {
          chgcode = 3;
        }     
      }
      else if(new_pagenumber != customers[x].pagenumber)
        {
          chgcode = 2;
        }  
      console.log("Editing User with Id: " + custid);
      $.ajax
        ({
          type: "PUT",
          url: "/registercust/"+custid+"/"+chgcode,
          data: { "name":new_name, "firmname":new_firmname, "pagenumber": new_pagenumber},
          success: function (data) {
            console.log(data);
          }
        });
  })  
}
