<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= user.name %>'s Ledger</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="css/nav_style.css" rel="stylesheet" type="text/css">
<link href="css/book_style.css" rel="stylesheet" type="text/css">
<link href="css/table_style.css" rel="stylesheet" type="text/css">
<link href="css/popup_style.css" rel="stylesheet" type="text/css">


</head>
<body> 
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <button class="openbtn" onclick="openNav()">☰</button>
            <a class="navbar-brand" href="#"><h3><%= user.name %></h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Actions</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/registercust">New Customer</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/logout?_method=DELETE" method="POST">
                        <input type="hidden" id="custId" class="form-control mr-sm-2" name="custId"  data-userid= "<%=user._id%>" value="<%=user._id%>">
                        <button type="submit" class="btn btn-secondary my-2 my-sm-0">Log Out</button>
                      </form>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-1" style="width:15vw;" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
  <br>
  <br>
        <div id="mySidepanel" class="sidepanel" style="float: left;">
          </div>        


<div id="pop_up_edit">
<div id="pop_content">
<span id="close_edit">Close</span>
<form id="edit_del_customer" action="" method=""></form>
<div>
  <span id="edit_del_error"></span>
  <input type="hidden" id="edit_customer" name="customer">
  <label for="name">Name</label>
  <input type="text" id="edit_name" name="name" required>
</div>
<div>
  <label for="firmname">Firm Name</label>
  <input type="text" id="edit_firmname" name="firmname" required>
</div>  
<div>
  <label for="pagenumber">Page number</label>
  <input type="number" id="edit_pagenumber" name="pagenumber" required>
</div> 
<button type="submit" id="edit_cust">Save</button>
<button type="submit" id="delete_cust">DELETE</button>
</form>
</div>
</div>


 <div class="mt-5" id="bookworm">
  <div class="book">
    <div class="coverbottom" id="coverbottom"></div>

    <div id="content_pages">
    <div class="page leftpage" id="page1">1</div>
    <div class="page leftpage" id="page3">3</div>
    <div class="page leftpage" id="page4">4</div>
    <div class="page leftpage" id="page5">5</div>
    <div class="page leftpage" id="page6">6</div>
    <div class="page leftpage" id="page7">7</div>
    <div class="page leftpage" id="page8">8</div>
    <div class="page leftpage" id="page2">
    Dear Diary, Today is going to be different. Today, I'm gonna smile and I'm gonna mean it..
    <div id="btn1">Click me</div>
    </div>
    <div class="page rightpage" id="page9">9</div>
    <div class="page rightpage" id="page11">11</div>
    <div class="page rightpage" id="page12">12</div>
    <div class="page rightpage" id="page13">13</div>
    <div class="page rightpage" id="page14">14</div>
    <div class="page rightpage" id="page15">15</div>
    <div class="page rightpage" id="page16">16</div> 
    <div class="page rightpage" id="page10">

      <div id="customer_page" style="width:100%">
          <div id="cust_name">Temp Name</div>
       <div id="cust_pagenum"> 100 </div>
       <table id="customer_table" class="table-sm table-hover table-responsive-lg">
         <thead>
          <tr>
            <th rowspan="2" style="width:15%">Date</th>
            <th rowspan="2" style="width:20%">Parti.</th>
            <th colspan="2" style="width:12%">Debit</th>
            <th colspan="2" style="width:12%">Credit</th>
            <th rowspan="2" style="width:10%">Dr/Cr</th>
            <th colspan="2" style="width:13%">Balance</th>
            <th rowspan="2" style="width:2%">=</th>
          </tr>
          <tr>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
            <td style="width:10%">Rs.</td>
            <td style="width:3%">P</td>
          </tr>
         </thead>
         <tbody>
  
           <form id="registertrans" action="" method="POST">
            <input type="hidden" id="add_trans" name="add_trans">
            <tr>
              <td><input type="text" style="font-size: 1vw" id="transdate" name="transdate"></td>
              <td>
                <label>
                <input type="radio" style="font-size: 1vw" id="transdate" name="transdate"/>Credit /
                </label>
                <label>
                <input type="radio" style="font-size: 1vw" id="transdate" name="transdate"/>Debit
                </label>
              </td>
              <td colspan="4"><input type="number" id="transamount" name="transamount"> </td>
              <td>00</td>
              <td>Cr</td>
              <td><button type="submit" id="addtrans" >+</button></td>
              <td></td>
            </tr> 
            </form>                        
         </tbody>
       </table>
      </div>
      <div id="btn2" style="position: fixed; top: 95%; left: 85%;">Click me</div>
    </div>
    </div>
    <div class="covertop" id="covertop"></div> 
    </div> 
  
  </div>

<input id="val" type="number">  

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
function openNav() {
    console.log("in func");
    if(document.getElementById("mySidepanel").style.width != "0px"){
  document.getElementById("mySidepanel").style.width = "0px"; 
}
  else{
    if(window.innerWidth <= 1050)
    document.getElementById("mySidepanel").style.width = "100%";  
    else
    document.getElementById("mySidepanel").style.width = "20%";      
}
}
</script>

<script>
  customers = []
  $(document).ready(function lister() {
      $.ajax({
          type:'POST',
          url: '/get_customer_list/' + $("#custId").data("userid"),
      }).done(function(result){
        customers = result;
         printcustomers(result);
      }).fail(function(err){
          console.log(err);
      })

        $( function() {
        $( "#transdate" ).datepicker();
        });
    })

    $('#addtrans').click(function (e) {
      e.preventDefault();
      var date = $('#transdate').val();
      var amount = $('#transamount').val();
    if($("#add_trans").val() != "")
      {
      var custid = $("#add_trans").val();
      console.log("Adding Transaction to Customer :"+ custid);
     $.ajax
        ({
          type: "POST",
          url: '/addtransaction/' + custid,
          data: { "date": date, "amount": amount},
          success: function (data) {
            // $('.result').html(data);
             $('#registertrans')[0].reset();
            console.log(data);
          }
        });
      }
    });


    function printcustomers(customers){
       console.log(customers)

       var customer_list = document.getElementById("mySidepanel");
       var x=0;
       for (i = 0; i <(customers.length/3)+1 ; i++) {
        var tr = document.createElement('ul');
         for(j=0; j<3 && x<customers.length;j++){
          var td = document.createElement('li');
          td.setAttribute("id", customers[x]._id);
          td.innerHTML = customers[x].name;
          td.setAttribute("onClick", 'displaytrans("'+ x +'")');
          x++;
          tr.appendChild(td);
         }
         customer_list.appendChild(tr);            
    }
  }


function displaytrans(x){
  var custid = customers[x]._id;
  console.log(custid);
  $.ajax({
          type:'POST',
          url: '/get_customer_transactions/' + custid,
      }).done(function(result){
         printtransactions(result,x);
      }).fail(function(err){
          console.log(err);
      })       
}  

function printtransactions(transactions,x){
       console.log(transactions)
       var transtable = document.getElementById("customer_table");
       document.getElementById("cust_name").innerHTML=customers[x].name;
       document.getElementById("cust_pagenum").innerHTML = customers[x].pagenumber;
       $("#customer_table > tr").remove();
       $("#transrow").remove();
       $("#add_trans").val(customers[x]._id);
       $("#edit_delete_cust").remove();
       $("#cust_name").before("<button id='edit_delete_cust'>☰</button>")
       $("#edit_delete_cust").click(()=>{
         edit_del_cust(x);
       })
       for (i = 0; i <transactions.length ; i++) {
        
        var tr = document.createElement('tr');
        tr.setAttribute("id","trans_row");
          printrow(tr, (transactions[i].date).substr(5,5));
          printrow(tr, "item");
          printrow(tr, transactions[i].amount);
          printrow(tr, "00");                                  
          printrow(tr, transactions[i].amount);
          printrow(tr, "00");   
          printrow(tr, "Cr");            
          printrow(tr, transactions[i].amount);
          printrow(tr, "00");
          customer_table.appendChild(tr);     
        //  $("#registertrans").before(tr);            
    }
  }

function printrow(tr, content){
  var td = document.createElement('td');
          td.innerHTML = content;
          tr.appendChild(td); 
}  

function edit_del_cust(x){
  $("#pop_up_edit").show();
  $("#close_edit").click(()=>{$("#pop_up_edit").hide();})
  $("#edit_name").val(customers[x].name)
  $("#edit_firmname").val(customers[x].firmname)
  $("#edit_pagenumber").val(customers[x].pagenumber)
  $("#edit_customer").val(customers[x]._id)
  $("#delete_cust").click(function(e){
    e.preventDefault();
      var custid = $('#edit_customer').val();
      console.log("Deleting User with Id: " + custid);
      $.ajax
        ({
          type: "DELETE",
          url: "/registercust/"+custid,
          success: function (data) {
            console.log(data);
          }
        });      
  })
  $("#edit_cust").click(function(e){
    e.preventDefault();
      var custid = $('#edit_customer').val();
      var new_name = $("#edit_name").val();
      var new_firmname = $("#edit_firmname").val();
      var new_pagenumber = $("#edit_pagenumber").val();
      var chgcode = 0;
      if(new_name != customers[x].name)
      {
        chgcode = 1;
        if(new_pagenumber != customers[x].pagenumber)
        {
          chgcode = 3;
        }     
      }
      else if(new_pagenumber != customers[x].pagenumber)
        {
          chgcode = 2;
        }  
      console.log("Editing User with Id: " + custid);
      $.ajax
        ({
          type: "PUT",
          url: "/registercust/"+custid+"/"+chgcode,
          data: { "name":new_name, "firmname":new_firmname, "pagenumber": new_pagenumber},
          success: function (data) {
            console.log(data);
          }
        });
  })  
}

    var c = document.getElementById("content_pages").children;
var d = $( ".page" );
document.getElementById("btn1").onclick = turnrightloop;
document.getElementById("btn2").onclick = turnleftloop;


function turnrightloop(){
var i =0;
var times = document.getElementById("val").value;
  setInterval(()=>{
    if(i<7 && i<times)
    {
    turnright(i);
    i++;
    }
    else
    return;
  }, 400)
}

function turnleftloop(){
  var i =8;
  var times = parseInt(document.getElementById("val").value);
  times += 8 ;
  setInterval(()=>{
    if(i<15 && i<times)
    {
    turnleft(i);
    console.log(times + " " + i);
    i++;
    }
    else
    return;
  }, 400)
}

function turnright(k){
  c[k].style.zIndex = "5";
$({degree: 0}).animate({degree: 180}, {
  duration: 2000,
  easing: 'linear',
  complete: function(){c[k].style.zIndex = "2";},
  step: function () {
    $("#"+d[k].id).css({transform: 'rotateY(' + this.degree + 'deg)'});
  }
})
}

function turnleft(k){
  c[k].style.zIndex = "5";
$({degree: 0}).animate({degree: -180}, {
  duration: 2000,
  easing: 'linear',
  complete: function(){c[k].style.zIndex = "2";},
  step: function () {
    $("#"+d[k].id).css({transform: 'rotateY(' + this.degree + 'deg)'});
  }
})
}


var top = document.getElementById("covertop");
top.addEventListener("animationend", typeWriter);
function typeWriter() {
  var page = document.getElementsByClassName("rightpage");
  for(var i=0;i<page.length;i++)
  {page[i].style.display = "initial";}
}



</script>

</html>