<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= user.name %>'s Ledger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="css/nav_style.css" rel="stylesheet" type="text/css" />
    <link href="css/book_style.css" rel="stylesheet" type="text/css" />
    <link href="css/table_style.css" rel="stylesheet" type="text/css" />
    <link href="css/popup_style.css" rel="stylesheet" type="text/css" />
  </head>
</html>
